.main__banner-wrapper {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 2px solid #000;
}
.main__banner-text {
  background-color: #ff90e8;
  color: #000;
}
.banner__text-wrapper {
}
.callout-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.creator {
  will-change: transform;
  transform: translate3d(0px, -2.54904vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}
.callout-image {
  width: 100%;
  height: 100%;
  max-width: 36rem;
  min-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.home-02 {
  will-change: transform;
  transform: translate3d(0px, 0.6274vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}
.sticker.home-02 {
  left: auto;
  top: 2rem;
  right: -2rem;
  bottom: auto;
  width: 8rem;
}
.sticker {
  position: absolute;
}
.sticker.home-01 {
  left: -1rem;
  top: auto;
  right: auto;
  bottom: -1rem;
  width: 13.5rem;
}
.name-tag {
  position: absolute;
  right: -3.35vw;
  bottom: 4rem;
  display: inline-block;
  padding: 0.6rem 1rem 0.7rem 3.25rem;
  border: 2px solid #000;
  border-radius: 50px;
  background-color: #fff;
  background-image: url("https://assets-global.website-files.com/6171b265e5c8aa59b42c3472/6183f718541d5d3584e9f6da_g.svg");
  background-position: 8px 59%;
  background-size: 2.25rem;
  background-repeat: no-repeat;
  -webkit-transition: box-shadow 200ms ease-in-out,
    -webkit-transform 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out,
    -webkit-transform 200ms ease-in-out;
  color: #000;
  font-size: 1.063rem;
  font-weight: 500;
}
.bg-yellow-dark {
  background-color: #ffc900;
  color: #000;
}
.column-padding.centered {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.column-padding {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 22rem;
  padding: 6.5vw;
  padding-top: 1vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.border-right {
  border-right: 2px solid #000;
}
.bg-pink {
  background-color: #ff90e8;
  color: #000;
}

.home-hero {
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 5rem;
    line-height: 0.9;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-top: -20px;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.3;
    letter-spacing: -0.01em;
    margin-bottom: 45px;
  }
}
.line-break-fixed {
  display: block;
  white-space: nowrap;
}

.shadow-button-wrap {
  transform: translate3d(0rem, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}
.shadow-button-text {
  position: relative;
  z-index: 1;
  padding: 1.1rem 1rem 1.2rem;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 1255px) {
  .shadow-button-wrap {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .home-hero {
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
  .main__banner-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .sticker.home-02 {
    top: 1rem;
  }
  .sticker {
    left: 0%;
    bottom: 0%;
  }
  .name-tag {
    right: 0rem;
    bottom: 3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    padding-left: 2.7rem;
    background-position: 8px 53%;
    background-size: 1.75rem;
  }
}
@media screen and (max-width: 767px) {
  .callout-image.creator {
    width: 80%;
    min-width: 80%;
  }
  .sticker.home-02 {
    right: 1rem;
    width: 6.5rem;
  }
  .sticker.home-01 {
    left: -1rem;
    bottom: -1rem;
    width: 11rem;
  }
  .home-hero {
    h1 {
      font-size: 4rem;
    }
  }
}
@media screen and (max-width: 479px) {
  .callout-image.creator {
    width: 100%;
    min-width: 100%;
  }
  .sticker.home-02 {
    right: -2.5rem;
    width: 6rem;
  }
  .sticker.home-01 {
    left: -2rem;
    bottom: -3rem;
    width: 10rem;
  }
  .name-tag {
    bottom: 0rem;
    font-size: 0.875rem;
    letter-spacing: 0.01em;
  }
  .callout-image {
    width: 100%;
    min-width: 100%;
  }
  .home-hero {
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.1rem;
    }
    .section-sub-head {
      font-size: 1.25rem;
      line-height: 1.4;
      letter-spacing: 0.005em;
    }
  }
  .sticker.home-01 {
    left: -1rem;
    bottom: 0rem;
    width: 7rem;
  }
  .sticker.home-02 {
    right: 2.5rem;
    width: 4rem;
  }
  .name-tag {
    right: -0.35vw;
    bottom: 2rem;
  }
  .callout-image.creator {
    width: 77%;
    min-width: 85%;
    margin-left: -50px;
  }
  .name-tag {
    right: 11.65vw;
    bottom: 2rem;
  }
}
@media (max-width: 400px) {
  .shadow-button-text {
    padding: 10px;
    width: 50%;
    margin: 0 auto 20px;
  }
  .home-hero h1 {
    font-size: 4rem;
  }
  .home-hero {
    p {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }
}
