.other__info-separator {
  border: 2px solid #000000;
}
.card-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 0.375rem;
  -webkit-transition: box-shadow 200ms ease-in-out,
    -webkit-transform 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out,
    -webkit-transform 200ms ease-in-out;
  color: #000;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.card-thumbnail-wrap {
  display: block;
  overflow: hidden;
  background-color: #000;
}
.card-thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #000;
}

.card-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.card-title {
  margin-bottom: 1.2rem;
  font-size: 1.625rem;
  line-height: 1.14;
  letter-spacing: 0.005em;
}
.card-description {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  line-height: 1.4;
}

.grid-thirds {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.other__cart-item {
  margin: 0 20px;
}
.card-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card-read-more {
  margin-top: auto;
  font-size: 1rem;
}
