.section-title {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.01em;
  text-align: center;
}

.question__container {
  margin-top: 100px !important;
}

.question__text {
  text-align: center;
}

.text-md {
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
}
.link {
  color: #000;
  text-decoration: underline;
}
.section-intro.wide.push {
  margin-bottom: 6.5rem;
}

.section-intro.wide {
  width: 90vw;
  max-width: 68rem;
}

.accordion-wrapper {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.accordion-header {
  display: -ms-grid;
  display: grid;
  padding: 1rem 15vw 0rem 0vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 12vw;
  grid-row-gap: 0vh;
  -ms-grid-columns: 2.25rem 1fr;
  grid-template-columns: 2.25rem 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 2px solid #000;

  p {
    font-size: 48px;
    cursor: pointer;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: -0.01em;
  }
}
.text-md {
  font-size: 1.375rem;
}

.accordion-description {
  padding: 0 10%;
  text-align: left;
  margin-top: 0;
}

.accordion-body {
  overflow: hidden;
}
@media (max-width: 600px) {
  .accordion-header {
    padding: 1rem 7vw 0rem 0vw;
  }
}
@media (max-width: 400px) {
  .section-title {
    font-size: 3.5rem;
  }
}
